<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Rental</display-name>
  <welcome-file-list>
    <welcome-file>indexfront.html</welcome-file>
    <welcome-file>indexfront.htm</welcome-file>
    <welcome-file>indexfront.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.Rental.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.Rental.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdLogin</display-name>
    <servlet-name>AdLogin</servlet-name>
    <servlet-class>com.Rental.AdLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdLogin</servlet-name>
    <url-pattern>/AdLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adsignup</display-name>
    <servlet-name>Adsignup</servlet-name>
    <servlet-class>com.Rental.Adsignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adsignup</servlet-name>
    <url-pattern>/Adsignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addequi</display-name>
    <servlet-name>Addequi</servlet-name>
    <servlet-class>com.Rental.Addequi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addequi</servlet-name>
    <url-pattern>/Addequi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mapdata</display-name>
    <servlet-name>Mapdata</servlet-name>
    <servlet-class>com.Rental.Mapdata</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mapdata</servlet-name>
    <url-pattern>/Mapdata</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Combine</display-name>
    <servlet-name>Combine</servlet-name>
    <servlet-class>com.Rental.Combine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Combine</servlet-name>
    <url-pattern>/Combine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Combo</display-name>
    <servlet-name>Combo</servlet-name>
    <servlet-class>com.Rental.Combo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Combo</servlet-name>
    <url-pattern>/Combo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginfront</display-name>
    <servlet-name>loginfront</servlet-name>
    <servlet-class>com.Rental.loginfront</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginfront</servlet-name>
    <url-pattern>/loginfront</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Loginfront</display-name>
    <servlet-name>Loginfront</servlet-name>
    <servlet-class>com.Rental.Loginfront</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginfront</servlet-name>
    <url-pattern>/Loginfront</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Signupfront</display-name>
    <servlet-name>Signupfront</servlet-name>
    <servlet-class>com.Rental.Signupfront</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Signupfront</servlet-name>
    <url-pattern>/Signupfront</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileUpload</display-name>
    <servlet-name>FileUpload</servlet-name>
    <servlet-class>com.Rental.FileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUpload</servlet-name>
    <url-pattern>/FileUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fileup</display-name>
    <servlet-name>Fileup</servlet-name>
    <servlet-class>com.Rental.Fileup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fileup</servlet-name>
    <url-pattern>/Fileup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageUp</display-name>
    <servlet-name>ImageUp</servlet-name>
    <servlet-class>com.Rental.ImageUp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageUp</servlet-name>
    <url-pattern>/ImageUp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fileUpload</display-name>
    <servlet-name>fileUpload</servlet-name>
    <servlet-class>com.Rental.fileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileUpload</servlet-name>
    <url-pattern>/fileUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fileupload</display-name>
    <servlet-name>Fileupload</servlet-name>
    <servlet-class>com.Rental.fileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fileupload</servlet-name>
    <url-pattern>/Fileupload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Fileuploaded</display-name>
    <servlet-name>Fileuploaded</servlet-name>
    <servlet-class>com.Rental.Fileuploaded</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fileuploaded</servlet-name>
    <url-pattern>/Fileuploaded</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>order</display-name>
    <servlet-name>order</servlet-name>
    <servlet-class>com.Rental.order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>order</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Order</display-name>
    <servlet-name>Order</servlet-name>
    <servlet-class>com.Rental.Order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Order</servlet-name>
    <url-pattern>/Order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminlogin</display-name>
    <servlet-name>adminlogin</servlet-name>
    <servlet-class>com.Rental.adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminlogin</servlet-name>
    <url-pattern>/adminlogin</url-pattern>
  </servlet-mapping>
</web-app>